<div fxLayout="column">
  <div class='heading'>
    <h1>Media</h1>
    <p>Logos and identity guidelines</p>
  </div>

  <div fxLayout="row" fxLayoutAlign='center' fxFill>
    <aside fxFlex="1 auto"></aside>

    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="40px" fxFlex="2 auto">
      <div>
        <h1>Gazebo Logo</h1>
        <div fxLayout.gt-sm="row" fxLayout="column"  fxLayoutGap="40px" fxLayoutAlign="start">
          <div fxLayout="column">
            <img src="assets/images/logos/gazebo_horz_pos.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/logos/gazebo_horz_pos.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/logos/gazebo_horz_pos.svg">SVG</a>
            </div>
          </div>

          <div fxLayout="column">
            <img src="assets/images/logos/gazebo_horz_black_only.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/logos/gazebo_horz_black_only.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/logos/gazebo_horz_black_only.svg">SVG</a>
            </div>
          </div>

          <div fxLayout="column">
            <img class="black" src="assets/images/logos/gazebo_horz_white_only.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/logos/gazebo_horz_white_only.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/logos/gazebo_horz_white_only.svg">SVG</a>
            </div>
          </div>

        </div>

        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="start">

          <div fxLayout="column">
            <img src="assets/images/logos/gazebo_vert_pos.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/logos/gazebo_vert_pos.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/logos/gazebo_vert_pos.svg">SVG</a>
            </div>
          </div>


          <div fxLayout="column">
            <img src="assets/images/logos/gazebo_vert_black_only.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/logos/gazebo_vert_black_only.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/logos/gazebo_vert_black_only.svg">SVG</a>
            </div>
          </div>


          <div fxLayout="column">
            <img class="black" src="assets/images/logos/gazebo_vert_white_only.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/logos/gazebo_vert_white_only.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/logos/gazebo_vert_white_only.svg">SVG</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h1>Release Logos</h1>
        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="start">
          <div fxLayout="column">
            <img class="release" src="assets/images/release_logos/blueprint_small.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/release_logos/blueprint.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/release_logos/blueprint.svg">SVG</a>
            </div>
          </div>

          <div fxLayout="column">
            <img class="release" src="assets/images/release_logos/citadel_small.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/release_logos/citadel.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/release_logos/citadel.svg">SVG</a>
            </div>
          </div>

          <div fxLayout="column">
            <img class="release" src="assets/images/release_logos/dome_small.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/release_logos/dome.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/release_logos/dome.svg">SVG</a>
            </div>
          </div>

        </div>
        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="start">
          <div fxLayout="column">
            <img class="release" src="assets/images/release_logos/edifice_small.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/release_logos/edifice.png">PNG</a>
              <p>|</p> 
              <a href="assets/images/release_logos/edifice.svg">SVG</a>
            </div>
          </div>
          <div fxLayout="column">
            <img class="release" src="assets/images/release_logos/fortress_small.png"/>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="assets/images/release_logos/fortress.png">PNG</a>
              <p>|</p>
              <a href="assets/images/release_logos/fortress.svg">SVG</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h1>Identity Guidelines</h1>
        <h2>The Logo</h2>
        <p>The Gazebo logo is a combination of the "GAZEBO" wordmark and the
        fire symbol. The logo should always appear with these two elements
        positioned together as shown in one of these two examples.
        </p>

        <h2>Color variations</h2>
        <ol>
          <li><h3>Color</h3>
            <p>
            This is the preferred color version of the Gazebo logo.
            </p>

            <img src="assets/images/logos/gazebo_horz_pos.png"/>
          </li>
          <li><h3>Black</h3>
            <p>
            When it is not possible to print using color,
            the logo should be reproduced in one solid color. When
            reproducing the logo on black and white printers, or in black
            ink, use this solid color version. Do not create a gray variation
            by screening or using a tint of black.
            </p>

            <img src="assets/images/logos/gazebo_horz_black_only.png"/>
          </li>
          <li><h3>Negative / White</h3>
            <p>
            A negative variation of the Gazebo logo can be "reversed"
            from black  using a solid white version.
            </p>

            <img class="black" src="assets/images/logos/gazebo_horz_white_only.png"/>
          </li>
        </ol>

        <h2>Typography</h2>
        <p>
        The type family chosen for the Gazebo identity is Montserrat, which can be <a href="https://fonts.google.com/specimen/Montserrat">acquired from Google's font library</a>.
        </p>
      </div>

    </div>
    <aside fxFlex="1 auto"></aside>
  </div>
</div>
