@import '~@angular/material/theming';
@import '../../styles/styles.scss';

img.release {
  border: 0px;
  width: unset;
}

img {
  border: 1px solid #d0d0d0;
  width: 200px;
}

img.black {
  background-color: #000;
}
