<div fxLayout="column" fxLayoutAlign="center">
  <div class='heading'>
    <h1>Maritime simulation</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign='center' fxFill class="section">
    <aside fxFlex="1 auto"></aside>
    <div fxLayout="column" fxLayoutAlign='center' fxFlex="1 auto">

      <div fxFlex="0 1">
        <img mat-card-image src="assets/images/projects/sydney_regatta.png">
      </div>

      <h1>Features</h1>
      <ul>
        <li>Environment
          <ul>
            <li>Uniform and graded buoyancy forces to model for fluid density interfaces.</li>
            <li>Modeling of hydrodynamic forces for underwater vessels, including added mass, water currents, linear and quadratic damping, and the coriolis effect.</li>
            <li>Digital Elevation Maps (DEM) support to load seafloor terrain geometries.</li>
            <li>Surface wave fields support</li>
          </ul>
        </li>
  
        <li>Actuators
          <ul>
            <li>Mechanical bladder as buoyancy engine in underwater vessels.</li>
            <li>Thruster for ships and underwater vessels.</li>
          </ul>
        </li>
        <li>Sensors
          <ul>
            <li>Generic Doppler Velocity Logger (DVL) with bottom and water-mass tracking support. Beam arrangements are fully configurable.</li>
            <li>Environmental sensors for arbitrary quantities, interpolated in space and time from user-provided data frames.</li>
          </ul>
        </li>
        <li>Communications
          <ul>
            <li>Acoustic communications system, modeling packet collision and drops.</li>
          </ul>
        </li>
      </ul>
  
      <h1>Models</h1>
      <ul>
        <li>Vessels (WAM-V, A, B, C, D, E, F, G)</li>
        <li>AUVs / ROVs (LRAUV, ROV)</li>
      </ul>
  
      <h1>Community</h1>
      <ul>
        <li>Maritime robotics <a href="https://discourse.ros.org/c/maritime/36">ROS Discourse</a> category</li>
        <li><a href="https://docs.google.com/document/d/139rx-fDbIBkA017ie2DTs_3AZOODaS0aw1O9_OenDsI/edit">ROSCon 2022 Maritime BoF Community meeting</a></li>
        <li><a href="https://discourse.ros.org/t/maritime-wg-nov-edition-postponed-to-december/28023">Maritime Robotics Working Group</a> meetings</li>
      </ul>
  
      <h1>Repositories</h1>
      <ul>
        <li><a href="https://github.com/osrf/lrauv">https://github.com/osrf/lrauv</a></li>
        <li><a href="https://github.com/osrf/buoy_sim">https://github.com/osrf/buoy_sim</a></li>
        <li><a href="https://github.com/osrf/vrx">https://github.com/osrf/vrx</a></li>
        <li><a href="https://github.com/osrf/mbzirc">https://github.com/osrf/mbzirc</a></li>
      </ul>
    </div>

    <aside fxFlex="1 auto"></aside>
  </div>
</div>
