@import '~@angular/material/theming';
@import '../../styles/custom-theme.scss';

.hero {
  padding: 200px 20px;
}

.hero h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(241, 78, 35);
  line-height: 48px;
}
.hero p {
  font-weight: 200;
  color: rgb(241, 78, 35);
  font-size: 20px;
  line-height: 32px;
}

.hero img {
  height: auto;
  width: 100%;
  max-width: 452px;
  max-height: 273px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  background-color: #ffffff;
}

.section h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  color: rgb(60, 60, 60);
  text-align: center;
}

.section.first h1 {
  font-weight: 300;
}

.section p {
  font-size: 18px;
  color: rgb(62, 62, 62);
  width: 80%;
  margin: 20px;
}

.section.lightgrey {
  background-color: #efefef;
}

.section.darkblue {
  background-color:#78909c;
}
.section.darkblue h1,
.section.darkblue p {
  color: #fefefe;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-content: space-around;
  width: 75%;
}

.card {
  padding: 20px;
  width: 300px;
  margin: 10px 0px;
  height: 300px;
  min-height: 300px;
  color: rgb(60, 60, 60);
  //border: 1px solid white;
}
.card-header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}
.card-description {
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.card-action {
  width: 50%;
  border-radius: 2px;
  color: white;
}

.card-action.last {
  width: 80%;
  border-radius: 2px;
  color: black;
  background-color: #ffffff;
}

@media screen and (max-width: 960px) {
  .hero {
    padding: 40px;
  }
  .hero h1 {
    font-size: 38px;
  }
  .section p {
    width: 60%;
  }
  .mat-card {
    width: 33%;
  }
}

@media screen and (min-width: 960px) {
  .hero {
    padding: 100px 40px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero p {
    font-size: 32px;
  }
  .mat-card {
    width: 25%;
  }
}
