<div fxLayout="column">

  <div class='heading'>
    <h1>Showcase</h1>
    <p>
    Enjoy a selection of highlights from Gazebo. Additional media can be found at our <a href="https://www.youtube.com/c/GazeboSim">Youtube channel</a>.
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign='center' fxFill>

    <aside fxFlex="0 1 20%"></aside>

    <div fxLayout="column" fxLayoutAlign="center" fxFlex="1 auto">
      <!-- Project showcase -->
      <div class="section">
        <h1>Projects</h1>

        <div fxLayout="row" fxLayoutAlign='center' fxLayoutGap="20px">
          <mat-card>
            <a routerLink="/projects/maritime">
            <img mat-card-image src='assets/images/projects/sydney_regatta.png'>
            </a>
            <mat-card-header>
              <mat-card-title>Maritime simulation</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
              Learn about the available Gazebo resources that let you create
              maritime simulations. Underwater and surface simulations are
              possible by adding sensors and plugins to the models in your
              world.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/projects/maritime" mat-button>Learn more</a>
            </mat-card-actions>
          </mat-card>
  
          <mat-card>
            <a routerLink="/projects/omniverse">
            <img mat-card-image src='assets/images/projects/omniverse.png'>
            </a>
            <mat-card-header>
              <mat-card-title>Omniverse</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
              This project linked Gazebo with NVIDIA Omniverse through a <a
                href="https://github.com/gazebosim/gz-omni">connector</a>. By
              using this connector, Gazebo can create, remove, and position
              models in Omniverse. Similarly, Omniverse can create and remove
              models from Gazebo. 
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/projects/omniverse" mat-button>Learn more</a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <!-- Picture showcase -->
      <div class="section">
        <h1>Gallery</h1>
          <div class="gallery-container-outer">
            <div class="gallery-container-inner" fxLayoutAlign="center center">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
              </ngx-gallery>

            </div>
        </div>
      </div>

    </div>

    <aside fxFlex="0 1 20%"></aside>
  </div>
</div>
