@import '../../styles.scss';

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

/* Classes that make the gallery keep an aspect ratio. */
.gallery-container-outer {
  height: 0;
  width: 100%;
  /* Aspect Ratio: 16:9. 9/16 = 0.5625 */
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.gallery-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-colors {
  --swiper-navigation-color: #000;
  --swiper-pagination-color: #000;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.section:last-of-type {
  border-bottom: 1px solid rgba(219, 219, 219, 0);
}

.section h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: mat-color($custom-theme-primary, 400);
  text-align: center;
  margin-bottom: 40px;
}

.section.first h1 {
  font-weight: 300;
}
