<div fxLayout="column">

  <div class='heading'>
    <h1>Showcase</h1>
    <p>
    Enjoy a selection of highlights from Gazebo. Additional media can be found at our <a href="https://www.youtube.com/c/GazeboSim">Youtube channel</a>.
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign='center' fxFill>

    <aside fxFlex="0 1 20%"></aside>

    <div fxLayout="column" fxLayoutAlign="center" fxFlex="1 auto">

      <!-- Picture showcase -->
      <div class="section">
        <h1>Gallery</h1>
          <div class="gallery-container-outer">
            <div class="gallery-container-inner" fxLayoutAlign="center center">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
              </ngx-gallery>

            </div>
        </div>
      </div>

      <!-- Project showcase -->
      <div class="section">
        <h1>Projects</h1>

        <div fxLayout="column" fxLayoutAlign='center'>
          <div fxLayout="row" fxLayoutAlign='center'>

            <div fxFlex="0 0 60%" fxLayout="column">
              <h2><a href="">Martime Simulation</a></h2>

              <h3>Features</h3>
                <ul>
                  <li>Environment
                    <ul>
                      <li>Uniform and graded buoyancy forces to model for fluid density interfaces.</li>
                      <li>Modeling of hydrodynamic forces for underwater vessels, including added mass, water currents, linear and quadratic damping, and the coriolis effect.</li>
                      <li>Digital Elevation Maps (DEM) support to load seafloor terrain geometries.</li>
                      <li>Surface wave fields support</li>
                    </ul>
                  </li>
  
                  <li>Actuators
                    <ul>
                      <li>Mechanical bladder as buoyancy engine in underwater vessels.</li>
                      <li>Thruster for ships and underwater vessels.</li>
                    </ul>
                  </li>
                  <li>Sensors
                    <ul>
                      <li>Generic Doppler Velocity Logger (DVL) with bottom and water-mass tracking support. Beam arrangements are fully configurable.</li>
                      <li>Environmental sensors for arbitrary quantities, interpolated in space and time from user-provided data frames.</li>
                    </ul>
                  </li>
                  <li>Communications
                    <ul>
                      <li>Acoustic communications system, modeling packet collision and drops.</li>
                    </ul>
                  </li>
                </ul>

              <h3>Models</h3>
              <ul>
                <li>Vessels (WAM-V, A, B, C, D, E, F, G)</li>
                <li>AUVs / ROVs (LRAUV, ROV)</li>
              </ul>

              <h3>Community</h3>
              <ul>
                <li>Maritime robotics <a href="https://discourse.ros.org/c/maritime/36">ROS Discourse</a> category</li>
                <li><a href="https://docs.google.com/document/d/139rx-fDbIBkA017ie2DTs_3AZOODaS0aw1O9_OenDsI/edit">ROSCon 2022 Maritime BoF Community meeting</a></li>
                <li><a href="https://discourse.ros.org/t/maritime-wg-nov-edition-postponed-to-december/28023">Maritime Robotics Working Group</a> meetings</li>
              </ul>

              <h3>Repositories</h3>
              <ul>
                <li><a href="https://github.com/osrf/lrauv">https://github.com/osrf/lrauv</a></li>
                <li><a href="https://github.com/osrf/buoy_sim">https://github.com/osrf/buoy_sim</a></li>
                <li><a href="https://github.com/osrf/vrx">https://github.com/osrf/vrx</a></li>
                <li><a href="https://github.com/osrf/mbzirc">https://github.com/osrf/mbzirc</a></li>
              </ul>
            </div>
 
            <div fxFlex="0 0 60%" fxLayout="column">
              <h2><a href="https://github.com/gazebosim/gz-omni">Omniverse</a></h2>
              <p>
              This project linked Gazebo with NVIDIA Omniverse through a <a
                href="https://github.com/gazebosim/gz-omni">connector</a>. By
              using this connector, Gazebo can create, remove, and position
              models in Omniverse. Similarly, Omniverse can create and remove
              models from Gazebo. 
              </p>

              <p>NVIDIA Omniverse is an easily extensible platform for 3D
              design collaboration and scalable multi-GPU, real-time,
              true-to-reality simulation. Omniverse revolutionizes the way
              we create and develop as individuals and work together as
              teams, bringing more creative possibilities and efficiency to
              3D creators, developers and enterprises.
              </p>
            </div>
        
            <div fxFlex="0 0 40%">
              <a href="https://github.com/gazebosim/gz-omni">
              <img mat-card-image src='assets/images/projects/omniverse.png'/>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <aside fxFlex="0 1 20%"></aside>
  </div>
</div>
