@import '~@angular/material/theming';
@import '../../styles/styles.scss';
@import '../../styles/custom-theme.scss';

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0;

  .docs-card {
    height: 194px;
    width: 30%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
    box-sizing: border-box;
    transition: box-shadow .5s;
    max-width: 340px;
    min-width: 262px;
    margin: 24px 8px;
    padding-bottom: 48px;
    position: relative;
    section {
      color: #333;
      font-size: 1.5rem;
      //line-height: 2.4rem;
      margin: auto;
      padding: 32px 0 24px;
      text-transform: none;
      text-align: center;
    }
    p {
      color: #444;
      // font-size: 1.0rem;
      // line-height: 1.4rem;
      padding: 0 16px;
      margin: 0px;
      width: 100%;
      text-align: center;
    }

    p.card-footer {
      bottom: 0;
      border-top: .5px solid #dbdbdb;
      box-sizing: border-box;
      position: absolute;
      right: 0;
      color: #6e6e6e;
      text-align: right;
      a {
        line-height: 4em;
      }
    }
  }

  .docs-card:hover {
    box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12);
    section {
      color: #1976d2;
    }
  }
}

.docs-card {
  width: 200px;
}

.docs-card mat-card-title {
  font-weight: 500;
  color: rgb(52, 63, 68);
  font-size: 18px!important;
}

.heading.version {
  padding: 20px 40px;
  align-items: start;
  justify-content: center;
}

.heading.version h1 {
  font-size: 28px; 
  margin: 0;
}

.border-list {
  min-width: 250px;
}

.border-list a.mat-list-item {
  margin: 2px 0px;
  text-transform: uppercase;
}
.border-list.version {
  padding: 0px;
}
.border-list a.mat-list-item.child {
  padding-left: 20px;
  text-transform: capitalize;
  color: #6e6e6e;
  font-weight: 400;
}

.markdown-content {
  padding: 0px 10px;
}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  background-color: #ffffff;
}

#links {
  margin-bottom: 20px;
}

.heading-anchor:hover #heading-anchor-img {
  visibility: visible;
}

.heading-anchor #heading-anchor-img {
  visibility: hidden;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-weight: 500;
  font-size: 12px;
}

p {
  width: 50%;
}

.header-link {
  padding-left: 40px;
}

.active {
  color: mat-color($custom-theme-accent, 600)!important;
}

mat-chip.primary {
  background-color: mat-color($custom-theme-primary, 600)!important;
  color: #ffffff!important;
  font-weight: 300;
}
mat-chip.warn {
  background-color: mat-color($custom-theme-warn, 600)!important;
  color: #ffffff!important;
  font-weight: 300;
}
