@import '../../styles.scss';

strong {
  font-weight: 500;
}

.heading.version {
  padding: 20px 40px;
  align-items: start;
  justify-content: center;
  margin-bottom: 0!important;
}
.heading.version small {
  color: #ffffff;
  font-size: 12px;
}

.heading.version h1 {
  font-size: 28px; 
  margin: 0;
}

.border-list {
  min-width: 250px;
}

.border-list a.mat-list-item {
  margin: 2px 0px;
  text-transform: uppercase;
}
.border-list.version {
  padding: 0px;
}
.border-list a.mat-list-item.child {
  padding-left: 20px;
  text-transform: capitalize;
  color: #6e6e6e;
  font-weight: 400;
}

.markdown-content {
  padding: 40px 40px;
}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  background-color: #ffffff;
}

#links {
  margin-bottom: 20px;
}

.heading-anchor:hover #heading-anchor-img {
  visibility: visible;
}

.heading-anchor #heading-anchor-img {
  visibility: hidden;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-weight: 500;
  font-size: 12px;
}

p {
  width: 50%;
}

.header-link {
  padding-left: 40px;
}

.active {
  color: mat-color($custom-theme-accent, 600)!important;
}

mat-chip.primary {
  background-color: mat-color($custom-theme-primary, 600)!important;
  color: #ffffff!important;
  font-weight: 300;
}
mat-chip.warn {
  background-color: mat-color($custom-theme-warn, 600)!important;
  color: #ffffff!important;
  font-weight: 300;
}

mat-tree-node {
  background-color: #F8F9FA;
  min-height: 28px!important;
}
mat-tree-node:hover {
  background-color: #EfF0F1;
}
mat-tree-node button {
  border: 0;
  background-color: transparent;
  min-width: 24px;
}

.release {
  .mat-form-field-label, .mat-form-field-outline,
  .mat-select-value, .mat-select-arrow {
    color: #ffffff!important;
  }
}

.menu-lts {
  font-size: 80%;
}
