@import '../../styles.scss';

strong {
  font-weight: 500;
}

.docHeading {
  position: fixed;
  width: 100%;
  left: 0;
  margin: 0;
  height: 120px;
  min-height: 120px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.heading.version {
  padding: 20px 40px;
  align-items: start;
  justify-content: center;
  margin-bottom: 0!important;
}
.heading.version small {
  color: #ffffff;
  font-size: 12px;
}

.heading.version h1 {
  font-size: 28px; 
  margin: 0;
}

.border-list {
  min-width: 250px;
}

.border-list a.mat-list-item {
  margin: 2px 0px;
  text-transform: uppercase;
}
.border-list.version {
  padding: 0px;
}
.border-list a.mat-list-item.child {
  padding-left: 20px;
  text-transform: capitalize;
  color: #6e6e6e;
  font-weight: 400;
}

.markdown-content {
  padding: 40px 40px;
  padding-top: 0px;
  scroll-padding-top: 200px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  background-color: #ffffff;
}

#links {
  margin-bottom: 20px;
}

.heading-anchor {
  scroll-margin-top: 200px;
}

.heading-anchor:hover #heading-anchor-img {
  visibility: visible;
}

.heading-anchor #heading-anchor-img {
  visibility: hidden;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-weight: 500;
  font-size: 12px;
}

p {
  width: 100%;
  line-height: 24px;
}

.header-link {
  padding-left: 40px;
}

.active {
  color: mat-color($custom-theme-accent, 600)!important;
}

.docBody {
  margin-top: 118px;
}

.docNavTree {
  background-color: #f8f9fa;
  border-right: 1px solid #dedede;
  position: fixed;
  min-height: calc(100vh - 180px);
  height: calc(100vh - 180px);
  overflow: auto;
  width: 280px;
}

.docMarkdown {
  margin-left:280px;
  padding-right: 220px;
}

@media screen and (max-width: 960px) {
  .docMarkdown {
    margin-left:280px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .docMarkdown {
    margin-left:200px;
  }
  .docNavTree {
    width: 200px;
  }
  .markdown-content {
    padding-right: 0px
  }
  .heading.version h1 {
    font-size: 18px; 
  }
  .docBody {
    margin-top: 120px;
  }
}

.tocContainer {
  position: fixed;
  right: 0px;
  overflow-wrap: break-word
}

.editButtonContainer {
  padding-top: 10px;
  padding-right: 40px;
  text-align:right;
}

mat-chip.primary, mat-chip.primary:hover {
  border-radius: 4px;
  background-color: mat-color($custom-theme-primary, 600)!important;
  color: #ffffff!important;
  font-weight: 400;
}

mat-chip.warn {
  border-radius: 4px;
  background-color: mat-color($custom-theme-warn, 800)!important;
  color: #ffffff!important;
  font-weight: 400;
}

mat-tree-node {
  background-color: #F8F9FA;
  min-height: 28px!important;
}
mat-tree-node:hover {
  background-color: #EfF0F1;
}
mat-tree-node button {
  border: 0;
  background-color: transparent;
  min-width: 24px;
}

.release {
  .mat-form-field-label, .mat-form-field-outline,
  .mat-select-value, .mat-select-arrow {
    color: #ffffff!important;
  }
}

.menu-lts {
  font-size: 80%;
}

.toc-list {
  list-style-type: none;
  min-width: 220px;
  padding-inline-start: 0px;
}

.toc-list-item {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid rgb(219, 219, 219);
}

.toc-list-item.h1:after {
  width: 40%;
  display: block;
  height: 1px;
  clear: both;
  content: "";
  background-color: rgb(219, 219, 219);
  margin: 10px 0 4px;
}

.toc-list-item.h3 {
  padding-left: 20px!important;
}

.toc-list-item a {
  color: #5e5e5e;
}

.toc-list-item:hover {
  border-left: 1px solid mat-color($custom-theme-primary, 600);
  color: mat-color($custom-theme-primary, 600)!important;
}

.toc-list-item:hover a {
  color: mat-color($custom-theme-primary, 600)!important;
  font-weight: 500;
}

.toc-list-item.active {
  border-left: 1px solid mat-color($custom-theme-accent, 600);
  color: mat-color($custom-theme-accent, 600)!important;
}

.toc-list-item.active a {
  color: mat-color($custom-theme-accent, 600)!important;
  font-weight: 500;
}

code {
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 4px;
}

code.codespan {
  padding: 2px;
  font-size: 90%;
}

code.codeblock {
  display: block;
  padding: 8px;
  border: 1px solid rgb(219, 219, 219);
  margin: 10px 0px;
}

code.codeblock pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
