@import '../../styles.scss';

strong {
  font-weight: 500;
}

.docHeading {
  position: fixed;
  width: 100%;
  left: 0;
  margin: 0;
  height: 120px;
  min-height: 120px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.heading.version {
  padding: 20px 40px;
  align-items: start;
  justify-content: center;
  margin-bottom: 0!important;
  line-height: 1em;
}
.heading.version small {
  color: #ffffff;
  font-size: 12px;
}

.heading.version h1 {
  font-size: 28px; 
  margin: 0;
}

.border-list {
  min-width: 250px;
}

.border-list a.mat-list-item {
  margin: 2px 0px;
  text-transform: uppercase;
}
.border-list.version {
  padding: 0px;
}
.border-list a.mat-list-item.child {
  padding-left: 20px;
  text-transform: capitalize;
  color: #6e6e6e;
  font-weight: 400;
}

.markdown-content {
  padding: 40px 40px;
  scroll-padding-top: 200px;
}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  background-color: #ffffff;
}

#links {
  margin-bottom: 20px;
}

.heading-anchor {
  scroll-margin-top: 200px;
}

.heading-anchor:hover #heading-anchor-img {
  visibility: visible;
}

.heading-anchor #heading-anchor-img {
  visibility: hidden;
}

h2 {
  font-weight: 300;
  font-size: 30px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-weight: 500;
  font-size: 12px;
}

p {
  width: 100%;
}

.header-link {
  padding-left: 40px;
}

.active {
  color: mat-color($custom-theme-accent, 600)!important;
}

mat-chip.primary {
  background-color: mat-color($custom-theme-primary, 600)!important;
  color: #ffffff!important;
  font-weight: 300;
}
mat-chip.warn {
  background-color: mat-color($custom-theme-warn, 600)!important;
  color: #ffffff!important;
  font-weight: 300;
}

mat-tree-node {
  background-color: #F8F9FA;
  min-height: 28px!important;
}
mat-tree-node:hover {
  background-color: #EfF0F1;
}
mat-tree-node button {
  border: 0;
  background-color: transparent;
  min-width: 24px;
}

.release {
  .mat-form-field-label, .mat-form-field-outline,
  .mat-select-value, .mat-select-arrow {
    color: #ffffff!important;
  }
}

.menu-lts {
  font-size: 80%;
}

.toc-list {
  list-style-type: none;
  min-width: 220px;
  padding-inline-start: 0px;
}

.toc-list-item {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid rgb(219, 219, 219);
}

.toc-list-item.h1:after {
  width: 40%;
  display: block;
  height: 1px;
  clear: both;
  content: "";
  background-color: rgb(219, 219, 219);
  margin: 10px 0 4px;
}

.toc-list-item.h3 {
  padding-left: 20px!important;
}

.toc-list-item a {
  color: #5e5e5e;
}

.toc-list-item:hover, .toc-list-item.active {
  border-left: 1px solid mat-color($custom-theme-primary, 600);
  color: mat-color($custom-theme-primary, 600)!important;
}

.toc-list-item:hover a, .toc-list-item.active a {
  color: mat-color($custom-theme-primary, 600)!important;
  font-weight: 500;
}
