<div fxLayout="column" fxLayoutAlign="center">
  <div class='heading'>
    <h1>SubT</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign='center' fxFill class="section">
    <aside fxFlex="1 auto"></aside>
    <div fxLayout="column" fxLayoutAlign='center' fxFlex="1 auto">

      <div fxFlex="0 1">
        <img mat-card-image src="assets/images/projects/omniverse.png">
      </div>

      <h1><a href="https://github.com/gazebosim/gz-subt">SubT</a></h1>
    </div>

    <a routerLink="/projects/subt/world-builder" routerLinkActive="active">World Builder</a>

    <aside fxFlex="1 auto"></aside>
  </div>
</div>
