<div fxLayout="column" fxLayoutAlign="center">
  <div class='heading'>
    <h1>Omniverse</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign='center' fxFill class="section">
    <aside fxFlex="1 auto"></aside>
    <div fxLayout="column" fxLayoutAlign='center' fxFlex="1 auto">

      <div fxFlex="0 1">
        <img mat-card-image src="assets/images/projects/omniverse.png">
      </div>

      <h1><a href="https://github.com/gazebosim/gz-omni">Omniverse</a></h1>
      <p>
        This project linked Gazebo with NVIDIA Omniverse through a <a
          href="https://github.com/gazebosim/gz-omni">connector</a>. By
        using this connector, Gazebo can create, remove, and position
        models in Omniverse. Similarly, Omniverse can create and remove
        models from Gazebo. 
      </p>

      <p>NVIDIA Omniverse is an easily extensible platform for 3D
        design collaboration and scalable multi-GPU, real-time,
        true-to-reality simulation. Omniverse revolutionizes the way
        we create and develop as individuals and work together as
        teams, bringing more creative possibilities and efficiency to
        3D creators, developers and enterprises.
      </p>
    </div>

    <aside fxFlex="1 auto"></aside>
  </div>
</div>
