@import '~@angular/material/theming';
@import '../../styles/custom-theme.scss';

.hero {
  color: rgb(60, 60, 60);
}

.lightgrey {
  background-color: #e0e0e0;
}

.hero h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
}
.hero p {
  font-weight: 200;
  font-size: 20px;
  line-height: 32px;
}

.hero img {
  height: auto;
  width: 100%;
  max-width: 452px;
  max-height: 273px;
}

.background {
  background: url('../../assets/images/home-banner.png') no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  background-color: #ffffff;
}

.section h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  color: rgb(60, 60, 60);
  text-align: center;
}

.section.first h1 {
  font-weight: 300;
}

.section p {
  font-size: 18px;
  color: rgb(62, 62, 62);
  width: 80%;
  margin: 20px;
}

.section.lightgrey {
  background-color: #efefef;
}

.section.darkblue {
  background-color:#78909c;
}
.section.darkblue h1,
.section.darkblue p {
  color: #fefefe;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 75%;
}

.card {
  padding: 20px;
  width: 300px;
  margin: 10px 0px;
  height: 300px;
  min-height: 300px;
  color: rgb(60, 60, 60);
  //border: 1px solid white;
}
.card-header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}
.card-description {
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.card-action {
  width: 50%;
  border-radius: 2px;
  color: white;
}

.card-action.last {
  width: 80%;
  border-radius: 2px;
  color: black;
  background-color: #ffffff;
}

@media screen and (max-width: 960px) {
  .hero {
    padding: 40px;
  }
  .hero h1 {
    font-size: 38px;
  }
  .section p {
    width: 60%;
  }
  .mat-card {
    width: 33%;
  }
  .background {
    height: 200px;
  }
}

@media screen and (min-width: 960px) {
  .hero {
    padding: 40px 80px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero p {
    font-size: 20px;
  }
  .mat-card {
    width: 25%;
  }
}

@media screen and (min-width: 1140px) {
  .subhero {
    padding: 80px 40px;
  }
}

/* Classes that make the gallery keep an aspect ratio. */
.gallery-container-outer {
  height: 0;
  width: 100%;
  /* Aspect Ratio: 16:9. 9/16 = 0.5625 */
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.gallery-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.big-icon {
  font-size: 60px;
}
